<h3>Here are recent tweets for <% name %>:</h3>

 <% FOREACH status IN response %>
   <% FOREACH val IN status.value %>
      <% IF val.text %>
        <div>
        ☞ <% val.text %> 
        </div>
      <% END %>
   <% END %>
 <% END %>


